
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #202225;
    -fx-effect: null;
}


.tab-pane .tab-header-area .tab  {
    -fx-background-color: #36393f;
    -fx-border-style: solid solid none solid;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-opacity: 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #eee;
}

.tab-pane .tab-header-area .tab:hover  {
    -fx-opacity: 0.5;
    -fx-cursor: hand;
    -fx-text-fill: cyan;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-border-style: solid solid none solid;
    -fx-border-width: 1;
    -fx-border-color: #aaa;
    -fx-border-radius: 2 2 0 0;
    -fx-opacity: 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area .tab .tab-label  {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.tab-pane .tab-content-area {
    /*-fx-border-style: solid none none none;*/
    /*-fx-border-width: 1;*/
    /*-fx-border-color: cyan;*/
}

.canvasToolBarButton {
    -fx-background-color: transparent;
    -fx-text-fill: #fafafa;
    -fx-opacity: 1;
    /*-fx-border-radius: 2px;*/
    -fx-border-style: none;
    -fx-border-width: 0;
    /*-fx-border-color: #aaa;*/
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.canvasToolBarButton:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}
.canvasToolBarButton:pressed {
    /*-fx-background-color: #fafafa;*/
    /*-fx-text-fill: #222;*/
    /*-fx-opacity: 1;*/
    /*-fx-border-style: solid solid solid solid;*/
    /*-fx-border-width: 1;*/
    /*-fx-border-color: #eee;*/
}

#scrollPane {
    -fx-focus-traversable: false;
}

.tooltip {
    -fx-show-duration: 10s;
    -fx-show-delay: 0.1s;
}

.canvasToolBarButton {
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.canvasToolBarButton.active {
    -fx-background-color: #aaa;
}

#viewButton {
    -fx-background-image: url("../assets/icons/baseline_pan_tool_white_36dp.png");
}

#editButton {
    -fx-background-image: url("../assets/icons/baseline_edit_white_36dp.png");
}

#createPointButton {
    -fx-background-image: url("../assets/icons/baseline_adjust_white_36dp.png");
}

#createMultiPointButton {
    -fx-background-image: url("../assets/icons/scatter_plot-24px.png");
}

#createPolyLineButton {
    -fx-background-image: url("../assets/icons/baseline_timeline_white_36dp.png");
}

#createPolygonButton {
    -fx-background-image: url("../assets/icons/baseline_format_shapes_white_36dp.png");
}

#clearCanvasButton {
    -fx-background-image: url("../assets/icons/baseline_cancel_white_36dp.png");
}

.searchResults {
    /*-fx-text-fill: #fafafa;*/
}

.searchResults .label {
    -fx-text-fill: #fff;
}

.resultBox {
    -fx-background-color: #6F7480;
    -fx-border-color: #DEE8FF;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-opacity: 0.5;
}

.resultBox:hover {
    -fx-cursor: hand;
}

.resultBox.selectedResult {
    -fx-opacity: 1;
    -fx-border-color: #ccc;
}